#jinja2: trim_blocks:False
[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{k8s_bin_dir}}/kube-scheduler \
{%- for setting in k8s_scheduler_settings|sort %}
  --{{setting}}={{k8s_scheduler_settings[setting]}} {% if not loop.last %}\{% endif %}
{%- endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
