[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{k8s_bin_dir}}/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --leader-elect=true \
  --master=http://{{hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address}}:8080 \
  --root-ca-file={{k8s_conf_dir}}/ca.pem \
  --cluster-signing-cert-file={{k8s_conf_dir}}/ca.pem \
  --service-account-private-key-file={{k8s_conf_dir}}/kubernetes-key.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target'
