[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{k8s_bin_dir}}/kube-scheduler \
  --address={{hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address}} \
  --leader-elect={{k8s_scheduler_leader_elect}} \
  --master=http://{{hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address}}:8080 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
